In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from varname import nameof

In [2]:
# Функции

# Надо добавить функцию загрузки и выгрузки таблицы(не забыть про резервную копию) для ручного редактирования

def saver(df_data, name, exel=False):
    """Функция сохранения датафрейма в файл"""
    if exel:
        df_data.to_excel(name + 'xlsx' + '.xlsx')
    else:
        df_data.to_csv(name + '.csv')
               
def append_df_person(data):
    '''Функция добалвения нового пользователя '''
    
    # Проверяем имя и фамилию
    prov = True
    while prov == True:
        name = input('Введите имя: ').title()
        surname = input('Введите фамилью: ').title()
        person_list = list(data[data['name'] == name]['surname'] == surname)
        if True not in person_list:
            prov = False
        if prov == True:
            print('Такой пользователь уже существует')
    # Проверка пароля
    par_prov = True
    while par_prov == True:
        parol = input('Введите пароль: ')
        rep_parol = input('Повторите пароль: ')
        if parol == rep_parol:
            par_prov = False
        else:
            print('Пароль не совпла, повторите попытку ')
    # Ввод статуса 
    status = input('Ваша должность: ')
    # Создаем нового пользователя 
    new_row = {'name':name, 'surname':surname, 'parol':parol, 'status':status, 'work_time':0}
    data = data.append(new_row, ignore_index=True)
    return data

# def change_person_data:

def append_df_printer(data):
    '''Функция добалвения нового заказа '''
    
    name = input('Введите имя заказа: ')
    description = input('Введите описание заказа: ')
    
    new_row = {'name':name, 'profit':0, 'work_time':0, 'description':description}
    data = data.append(new_row, ignore_index=True)
    return data

def change_df_printer(data):
    '''Функция изменения заказа'''
    
    name = input('Какой заказ хотете изменить? ')
    # Здесь должна быть табличка со всеми заказами

### Созадаем БД для пользователей

In [66]:
df_person = pd.DataFrame(columns=['number', 'nickname', 'name', 'surname', 'parol', 'status', 'work_time'])
saver(df_person,'df_person')

In [4]:
df_person = append_df_person(df_person)
saver(df_person,'df_person')
df_person

Введите имя: Данила
Введите фамилью: Андреев
Введите пароль: 123
Повторите пароль: 123
Ваша должность: админ

  nickname    name  surname parol status work_time
0      NaN  Данила  Андреев   123  админ         0

### Создаем БД заказов

In [62]:
df_printer = pd.DataFrame(columns=['name','profit', 'work_time', 'description', 'chat'])
saver(df_printer,'df_printer')

In [6]:
df_printer = append_df_printer(df_printer)
saver(df_printer,'df_printer')

Введите имя заказа: Принтер 1
Введите описание заказа: бла бла

In [65]:
df_printer

Empty DataFrame
Columns: [name, profit, work_time, description, chat]
Index: []

In [4]:
df_person = pd.read_csv('df_person.csv')
df_person

   Unnamed: 0 nickname    name  surname  parol        status  work_time
0           0      Dan  Danila  Andreev    123  Руководитель          0
1           1      Man     Max      Min    123  Руководитель          0
2           2      Max   Maxim      Mir    123        Курьер          0
3           3   Killer     Dan      Nad    123        Курьер          0

In [9]:
df_person.shape[0]

4