In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from varname import nameof

In [2]:
# Функции

# Надо добавить функцию загрузки и выгрузки таблицы(не забыть про резервную копию) для ручного редактирования

def saver(df_data, name, exel=False):
    """Функция сохранения датафрейма в файл"""
    if exel:
        df_data.to_excel(name + 'xlsx' + '.xlsx')
    else:
        df_data.to_csv(name + '.csv')
               
def append_df_person(data):
    '''Функция добалвения нового пользователя '''
    
    # Проверяем имя и фамилию
    prov = True
    while prov == True:
        name = input('Введите имя: ').title()
        surname = input('Введите фамилью: ').title()
        person_list = list(data[data['name'] == name]['surname'] == surname)
        if True not in person_list:
            prov = False
        if prov == True:
            print('Такой пользователь уже существует')
    # Проверка пароля
    par_prov = True
    while par_prov == True:
        parol = input('Введите пароль: ')
        rep_parol = input('Повторите пароль: ')
        if parol == rep_parol:
            par_prov = False
        else:
            print('Пароль не совпла, повторите попытку ')
    # Ввод статуса 
    status = input('Ваша должность: ')
    # Создаем нового пользователя 
    new_row = {'name':name, 'surname':surname, 'parol':parol, 'status':status, 'work_time':0}
    data = data.append(new_row, ignore_index=True)
    return data

# def change_person_data:

def append_df_printer(data):
    '''Функция добалвения нового заказа '''
    
    name = input('Введите имя заказа: ')
    description = input('Введите описание заказа: ')
    
    new_row = {'name':name, 'profit':0, 'work_time':0, 'description':description}
    data = data.append(new_row, ignore_index=True)
    return data

def change_df_printer(data):
    '''Функция изменения заказа'''
    
    name = input('Какой заказ хотете изменить? ')
    # Здесь должна быть табличка со всеми заказами

### Созадаем БД для пользователей

In [66]:
df_person = pd.DataFrame(columns=['number', 'nickname', 'name', 'surname', 'parol', 'status', 'work_time'])
saver(df_person,'df_person')

In [4]:
df_person = append_df_person(df_person)
saver(df_person,'df_person')
df_person

Введите имя: Данила
Введите фамилью: Андреев
Введите пароль: 123
Повторите пароль: 123
Ваша должность: админ

  nickname    name  surname parol status work_time
0      NaN  Данила  Андреев   123  админ         0

### Создаем БД заказов

In [62]:
df_printer = pd.DataFrame(columns=['name','profit', 'work_time', 'description', 'chat'])
saver(df_printer,'df_printer')

In [6]:
df_printer = append_df_printer(df_printer)
saver(df_printer,'df_printer')

Введите имя заказа: Принтер 1
Введите описание заказа: бла бла

In [65]:
df_printer

Empty DataFrame
Columns: [name, profit, work_time, description, chat]
Index: []

In [10]:
df_person = pd.read_csv('df_person.csv')
df_person

   Unnamed: 0 nickname name surname  parol        status  work_time
0           0      Dan  Dan     Dan    123  Руководитель          0

In [17]:
df_printer = pd.read_csv('df_printer.csv')
df_printer

,Unnamed: 0,number,name,profit,work_time,description,chat,status
0,0,NaN,Принтер 123,0,0,авпывпыва,NaN,NaN
1,1,NaN,Принтер,0,0,вафвыа,NaN,NaN
2,2,23424.0,Принтер 444,0,0,вафвыпафв фпывфафвыафывафыва,NaN,NaN
3,3,NaN,NaN,0,0,NaN,NaN,NaN
4,4,21345.0,Принтер 666,0,0,ваывлдыоадлфывоп,NaN,NaN
5,5,398472.0,Принтер 3,0,0,Сделать то и то,NaN,Ожидание
6,6,343434.0,Принтер 58585,0,0,фдвыжаол,NaN,Ожидание
7,7,4444.0,Номер 1,0,0,вафывфа,NaN,Ожидание
8,8,343.0,4434,0,0,апв,NaN,Ожидание
9,9,dfadf,Ghbynth,0,0,afasdf,NaN,Ожидание
10,10,32,Ghbynth,0,0,dfsdfdfsdf\ndkjnkjdf\n\ndfsjkdf\n,NaN,Ожидание
11,11,dfasf,Ghbynth,0,0,dsfafd\n\n,NaN,Ожидание
12,12,NaN,NaN,0,0,NaN,NaN,Ожидание
13,13,NaN,NaN,0,0,NaN,NaN,Ожидание
14,14,234,Заказ,0,0,фвыжад,NaN,Ожидание
15,15,234,Новый принтер,0,0,234,NaN,Ожидание
16,16,1,Еще один,0,0,1,NaN,Ожидание
17,17,12,Еще еще один,0,0,12,NaN,Ожидание

In [15]:
df_printer.shape[0]

14

In [16]:
new_row = {'name': 'принтер',
           'number': 14,
           'profit': 0,
           'work_time': 0,
           'description': 'dfadsfdsf',
           'status': 'Ожидание'}
df_printer = df_printer.append(new_row, ignore_index=True)