In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from varname import nameof

In [2]:
# Функции

# Надо добавить функцию загрузки и выгрузки таблицы(не забыть про резервную копию) для ручного редактирования

def saver(data, name, exel=False):
    '''Функция сохранения датафрейма в файл'''
    
    #df_name = nameof(data) для получения имени переменной
    if exel == False:
        data.to_csv(name +'.csv')
    else:
        data.to_excel(name +'.xlsx')
               
def append_df_person(data):
    '''Функция добалвения нового пользователя '''
    
    # Проверяем имя и фамилию
    prov = True
    while prov == True:
        name = input('Введите имя: ').title()
        surname = input('Введите фамилью: ').title()
        person_list = list(data[data['name'] == name]['surname'] == surname)
        if True not in person_list:
            prov = False
        if prov == True:
            print('Такой пользователь уже существует')
    # Проверка пароля
    par_prov = True
    while par_prov == True:
        parol = input('Введите пароль: ')
        rep_parol = input('Повторите пароль: ')
        if parol == rep_parol:
            par_prov = False
        else:
            print('Пароль не совпла, повторите попытку ')
    # Ввод статуса 
    status = input('Ваша должность: ')
    # Создаем нового пользователя 
    new_row = {'name':name, 'surname':surname, 'parol':parol, 'status':status, 'work_time':0}
    data = data.append(new_row, ignore_index=True)
    return data

# def change_person_data:

def append_df_printer(data):
    '''Функция добалвения нового заказа '''
    
    name = input('Введите имя заказа: ')
    description = input('Введите описание заказа: ')
    
    new_row = {'name':name, 'profit':0, 'work_time':0, 'description':description}
    data = data.append(new_row, ignore_index=True)
    return data

def change_df_printer(data):
    '''Функция изменения заказа'''
    
    name = input('Какой заказ хотете изменить? ')
    # Здесь должна быть табличка со всеми заказами

### Созадаем БД для пользователей

In [16]:
df_person = pd.DataFrame(columns=['nickname', 'name', 'surname', 'parol', 'status', 'work_time'])
saver(df_person,'df_person')

In [17]:
df_person = append_df_person(df_person)
saver(df_person,'df_person')
df_person

Введите имя: Данила
Введите фамилью: аа
Введите пароль: а
Повторите пароль: а
Ваша должность: а

  nickname    name surname parol status work_time
0      NaN  Данила      Аа     а      а         0

### Создаем БД заказов

In [6]:
df_printer = pd.DataFrame(columns=['name','profit', 'work_time', 'description'])
saver(df_printer,'df_printer')

In [7]:
df_printer = append_df_printer(df_printer)
saver(df_printer,'df_printer')

Введите имя заказа: Принтер 1
Введите описание заказа: то и то

In [8]:
df_printer

        name profit work_time description
0  Принтер 1      0         0     то и то

In [11]:
print(df_printer)

        name profit work_time description
0  Принтер 1      0         0     то и то

In [25]:
list(df_person['name'])

['Данила']

In [28]:
df_person[df_person['nickname'] == 'name']['parol']

Series([], Name: parol, dtype: object)

In [29]:
df_person

  nickname    name surname parol status work_time
0      NaN  Данила      Аа     а      а         0